<h1>New Short Link</h1>

<%= form_with model: @shortlink do |form| %>
  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
    <%= form.label :expiry_date %><br>
    <%= form.date_field :expiry_date, class: 'form-control' %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
